# List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Based on a list of Cities, you want a new list, containing only the cities  with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [78]:
cities=['bangalore','mumbai','Mysore','hyderbad']
newlist=[]
for i in cities:
     if 'a' in i:
        newlist.append(i)
print(newlist)

['bangalore', 'mumbai', 'hyderbad']

In [81]:
new_list=[i for i in cities if 'a' in i]
new_list

['bangalore', 'mumbai', 'hyderbad']

newlist = [expression for item in iterable if condition == True]

In [82]:
[x for x in cities]

['bangalore', 'mumbai', 'Mysore', 'hyderbad']

Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

In [83]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [95]:
num=[x for x in range(1,11,1)]
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
[x for x in range(1,100,3) if x%2==0]

[4, 10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94]

In [102]:
new_list=[x for x in range(10) if x<5]
new_list

[0, 1, 2, 3, 4]

In [104]:
newlist = [x.upper() for x in cities]
newlist

['BANGALORE', 'MUMBAI', 'MYSORE', 'HYDERBAD']

In [107]:
[x if x!= 'chenai' else 'kodagu' for x in cities]

['bangalore', 'mumbai', 'Mysore', 'hyderbad']

# Sort Lists

Sort List Alphanumerically

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [119]:
names=['manju','athani','ravi','kiran','silver']
names.sort()
print(names)

['athani', 'kiran', 'manju', 'ravi', 'silver']

In [121]:
list=[45,67,45,25,9,23,65]
list.sort()
print(list)

[9, 23, 25, 45, 45, 65, 67]

In [123]:
list.sort(reverse=True)
print(list)

[67, 65, 45, 45, 25, 23, 9]

# Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

    
There are ways to make a copy, one way is to use the built-in List method copy().

In [128]:
list=[12,34,33,45,76]
list2=list.copy()
list2

[12, 34, 33, 45, 76]

Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [130]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

In [131]:
list1+list2

['a', 'b', 'c', 1, 2, 3]

In [133]:
for i in list2:
    list1.append(i)
print(list1)

['a', 'b', 'c', 1, 2, 3]