Here is a link for more codes: https://github.com/Athani-analyst

Happy coding!

# Python Sequences

A sequence is a collection of items in an order. We have already used strings numerous times in our programs. A string is basically a sequence of characters.

In [4]:
#Python sequences
text = "Python"
languages = ['English', 'French', 'German']

The sequence with three items separated by commas and enclosed in square brackets is called a list.

# Python for loop

The for loop in Python is used to iterate over a sequence, and in each iteration, we can access individual items of that sequence

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
The syntax of the for loop in Python is:
    
    for item in sequence:
           statement(s)

Here, the statements inside the for loop are executed for every item in sequence.

In [43]:
text="python"
for i in text:
    print(i)

p
y
t
h
o
n

Here, using a for loop we have accessed individual items of this string one by one.

During the first iteration of the loop, the variable character will be the first letter **'P'** and it gets printed to the screen.

The loop continues similarly until we reach the last item in the sequence.

## Looping Through a List

We can use the for loop to iterate through each item of this list one by one.

In [44]:
languages = ["English", "French", "German"]
for i in languages:
    print(i)

English
French
German

### The break Statement

In [11]:
for language in languages:
    print(language)
    if language=="French":
        break

English
French

## The range() Function

In the previous tutorial, we used while loop to repeat a block of code a certain number of times.

In [47]:
range(2,4)

range(2, 4)

In [17]:
count = 1

while count < 5:
    print(count)
    count = count + 1

1
2
3
4

We can use range() with a for loop to write this program in a much simpler way.

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [51]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [50]:
i=0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

The range() function creates a sequence of numbers from 1 to 5. The last value passed (6 in this case) is exclusive.

## Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [21]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Multiplication Table

In [25]:
num=int(input('enter the number:'))
for i in range(1,11):
    print(i*num)

enter the number:2
2
4
6
8
10
12
14
16
18
20

In [27]:
num=int(input('enter the number:'))
for i in range(1,11):
    print(num,"*",i,"=",i*num)

enter the number:8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

# Programming Task
Can you create a program to find the sum of numbers from 1 to 100.

The result should be equal to 1 + 2 + 3 + ... + 100.