# Python Lists

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [252]:
fruits=['apple','Banana','grapes']

In [253]:
fruits

['apple', 'Banana', 'grapes']

List Items

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates

Since lists are indexed, lists can have items with the same value:

In [254]:
fruits=['apple','Banana','grapes','apple']

### Access Items

List items are indexed and you can access them by referring to the index number:

Example

Print the second item of the list:

fruits=['apple','Banana','grapes','apple']

In [255]:
fruits[1]

'Banana'

In [256]:
fruits[-1]

'apple'

Note: The first item has index 0.

Negative Indexing

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

Example

Print the last item of the list:

fruits=['apple','Banana','grapes','apple']

In [257]:
fruits[-1]

'apple'

Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example

In [258]:
fruits=['apple','banana','cherry','kiwi','sapota','orrange','mango']

In [259]:
fruits[1:4]

['banana', 'cherry', 'kiwi']

In [260]:
fruits[-4:-1]

['kiwi', 'sapota', 'orrange']

In [261]:
fruits[1:]

['banana', 'cherry', 'kiwi', 'sapota', 'orrange', 'mango']

In [262]:
len(fruits)

7

In [263]:
fruits[:-1]

['apple', 'banana', 'cherry', 'kiwi', 'sapota', 'orrange']

In [264]:
fruits[:4]

['apple', 'banana', 'cherry', 'kiwi']

In [265]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'sapota', 'orrange', 'mango']

### Change List Items

To change the value of a specific item, refer to the index number:

In [266]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'sapota', 'orrange', 'mango']

In [267]:
fruits[1]='green apple'

In [268]:
fruits

['apple', 'green apple', 'cherry', 'kiwi', 'sapota', 'orrange', 'mango']

In [269]:
fruits[1:4]='pomogranate','old monk'

In [270]:
fruits

['apple', 'pomogranate', 'old monk', 'sapota', 'orrange', 'mango']

Change the second value by replacing it with two new values:

fruits = ["apple", "banana", "cherry"]

In [271]:
fruits = ["apple", "banana", "cherry"]
fruits[1:2] = ["blackcurrant", "watermelon"]

In [272]:
fruits

['apple', 'blackcurrant', 'watermelon', 'cherry']

### Add List Items

To add an item to the end of the list, use the append() method:

In [273]:
cars=['BMW','KIA','TATA','TOYOTA']

In [274]:
cars.append('Hyundai')

In [275]:
cars

['BMW', 'KIA', 'TATA', 'TOYOTA', 'Hyundai']

Insert Items

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [276]:
cars=['BMW','KIA','TOYOTA']

In [277]:
cars.insert(1,'TATA')

In [278]:
cars

['BMW', 'TATA', 'KIA', 'TOYOTA']

Extend List

To append elements from another list to the current list, use the extend() method.

In [279]:
series=['Rd','nexon','carnila','inova']

In [280]:
cars.extend(series)

In [281]:
print(cars)

['BMW', 'TATA', 'KIA', 'TOYOTA', 'Rd', 'nexon', 'carnila', 'inova']

## Remove List Items

Remove Specified Item

The remove() method removes the specified item.

In [282]:
cars

['BMW', 'TATA', 'KIA', 'TOYOTA', 'Rd', 'nexon', 'carnila', 'inova']

In [283]:
cars.remove('BMW')

In [284]:
cars

['TATA', 'KIA', 'TOYOTA', 'Rd', 'nexon', 'carnila', 'inova']

In [285]:
cars.remove('TATA')

In [286]:
cars

['KIA', 'TOYOTA', 'Rd', 'nexon', 'carnila', 'inova']

Remove Specified Index

The pop() method removes the specified index.

In [287]:
cars

['KIA', 'TOYOTA', 'Rd', 'nexon', 'carnila', 'inova']

In [288]:
cars.pop(0)

'KIA'

In [289]:
cars

['TOYOTA', 'Rd', 'nexon', 'carnila', 'inova']

If you do not specify the index, the pop() method removes the last item.

In [290]:
cars.pop()

'inova'

In [291]:
cars

['TOYOTA', 'Rd', 'nexon', 'carnila']

The del keyword also removes the specified index:

In [292]:
cars

['TOYOTA', 'Rd', 'nexon', 'carnila']

In [293]:
del(2) cars

SyntaxError: cannot delete literal (Temp/ipykernel_14064/1107396748.py, line 1)

## Loop through list

You can loop through the list items by using a for loop:

In [294]:
fruits=['apple','banana','orange']

In [295]:
fruits[0]

'apple'

In [296]:
fruits[1]

'banana'

In [297]:
for i in fruits:
    print(i)

apple
banana
orange

In [298]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
orange

## Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

Print all items, using a while loop to go through all the index numbers

In [299]:
fruits=['apple','banana','orange','mango']

In [300]:
i=0
while i<len(fruits):
        print(fruits[i])
        i=i+1

apple
banana
orange
mango

### Looping Using List Comprehension

List Comprehension offers the shortest syntax for looping through lists:

In [301]:
fruits

['apple', 'banana', 'orange', 'mango']

In [302]:
type(fruits)

list

In [303]:
for i in fruits:
    print(i)

apple
banana
orange
mango

In [304]:
[print(i) for i in fruits]

apple
banana
orange
mango

[None, None, None, None]

## List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [305]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [306]:
new_list=[]
for i in fruits:
    if 'a' in i:
        new_list.append(i)
print(new_list)

['apple', 'banana', 'mango']

In [307]:
for i in fruits:
    if 'a' in i:
        print(i)

apple
banana
mango

In [308]:
[i for i in fruits if 'a' in i]

['apple', 'banana', 'mango']

## The Syntax

## newlist = [expression for item in iterable if condition == True]

### Condition

The condition is like a filter that only accepts the items that valuate to True.

In [309]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [310]:
[x for x in fruits if x!='apple']

['banana', 'cherry', 'kiwi', 'mango']

In [311]:
for i in fruits:
    if i!='apple':
        print(i)

banana
cherry
kiwi
mango

In [312]:
[i for i in fruits if i!='banana']

['apple', 'cherry', 'kiwi', 'mango']

In [313]:
[i for i in fruits]

['apple', 'banana', 'cherry', 'kiwi', 'mango']

## Iterable

The iterable can be any iterable object, like a list, tuple, set etc.

In [314]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [315]:
range(10)

range(0, 10)

In [316]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [317]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [318]:
[i for i in range(20) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [319]:
even_num=[i for i in range(20) if i%2==0]

In [320]:
even_num

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## Expression

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

Example

Set the values in the new list to upper case:

In [321]:
mobile=['apple','mi','sony','samsung','vivo','appo','realme']

In [322]:
[i for i in mobile if 'a' in i]

['apple', 'samsung', 'appo', 'realme']

In [323]:
ferti=['urea','npk','micronutri','macro']

In [324]:
[i.upper() for i in ferti if i=='npk']

['NPK']

# Python - Sort Lists

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [325]:
name=['athani','ramesh','gkvk','taj','suresh','oldmonk']

In [326]:
name.sort()
print(name)

['athani', 'gkvk', 'oldmonk', 'ramesh', 'suresh', 'taj']

In [327]:
name=['athani','ramesh','Gkvk','taj','suresh','oldmonk']
print(name)

['athani', 'ramesh', 'Gkvk', 'taj', 'suresh', 'oldmonk']

In [328]:
number=[123,543,287,85,4543]
number.sort()
print(number)

[85, 123, 287, 543, 4543]

## Sort Descending

To sort descending, use the keyword argument reverse = True:

In [329]:
name=['athani','ramesh','gkvk','taj','suresh','oldmonk']
name.sort(reverse=True)
print(name)

['taj', 'suresh', 'ramesh', 'oldmonk', 'gkvk', 'athani']

In [330]:
number=[123,543,287,85,4543]
number.sort(reverse=True)
print(number)

[4543, 543, 287, 123, 85]

In [331]:
name=['athani','ramesh','Gkvk','taj','suresh','oldmonk']
name.sort(key=str.lower)
print(name)

['athani', 'Gkvk', 'oldmonk', 'ramesh', 'suresh', 'taj']

In [332]:
name=['athani','ramesh','Gkvk','taj','suresh','oldmonk']
name.sort()
print(name)

['Gkvk', 'athani', 'oldmonk', 'ramesh', 'suresh', 'taj']

In [333]:
name=['athani','ramesh','Gkvk','taj','suresh','oldmonk']
name.sort(key=str.lower)
print(name)

['athani', 'Gkvk', 'oldmonk', 'ramesh', 'suresh', 'taj']

In [334]:
name=['athani','ramesh','Gkvk','taj','suresh','oldmonk']
name.reverse()
print(name)

['oldmonk', 'suresh', 'taj', 'Gkvk', 'ramesh', 'athani']

# Copy a List

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

In [335]:
list1=['samsung','mi','apple']

In [336]:
newlist=list1.copy()

# Join Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [337]:
list=['a','d','w','f']
list1=[1,3,4,2]

In [338]:
list2=list+list1

In [339]:
list2

['a', 'd', 'w', 'f', 1, 3, 4, 2]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [340]:
for i in list1:
    list.append(i)
    
print(list)

['a', 'd', 'w', 'f', 1, 3, 4, 2]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [341]:
list.extend(list1)
print(list)

['a', 'd', 'w', 'f', 1, 3, 4, 2, 1, 3, 4, 2]

In [342]:
list.clear()
print(list)

[]

In [343]:
list1

[1, 3, 4, 2]