# Python Sets

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

* Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

* Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

* Duplicates Not Allowed

Sets cannot have two items with the same value.

In [7]:
fruits={'apple','mango','papaya','mango'}
fruits

{'apple', 'mango', 'papaya'}

In [10]:
set = {"apple", "banana", "cherry", "apple"}

print(set)

{'cherry', 'banana', 'apple'}

In [11]:
len(set)

3

In [15]:
set1={"apple", "banana", "cherry", "apple"}
set2={1,2,3,4,5}
set3={True,False,True}

In [18]:
print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 2, 3, 4, 5}
{False, True}

In [21]:
set1=set(("GKVK","DAU"))

TypeError: 'set' object is not callable

In [23]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

TypeError: 'set' object is not callable

## Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [1]:
name={'GKVK','RAJ','ALLU','YASH'}

In [2]:
for i in name:
    print(i)

GKVK
RAJ
YASH
ALLU

In [4]:
print('RAJ' in name)

True

## Change Items

Once a set is created, you cannot change its items, but you can add new items.

## Add Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [5]:
Heroes={'D boss','YASH','PUNEETH'}

In [6]:
Heroes.add('MANJU')

In [7]:
Heroes

{'D boss', 'MANJU', 'PUNEETH', 'YASH'}

## Add Sets

In [8]:
name={'raj','taj','sam','cam'}

In [9]:
age={24,23,35,36}

In [15]:
name.update(age)

In [35]:
name

set()

## Remove Item

remove()

discard()

pop()

clear()

del()

In [19]:
Heroes

{'D boss', 'MANJU', 'PUNEETH', 'YASH'}

In [21]:
Heroes.remove('MANJU')

In [22]:
Heroes

{'D boss', 'PUNEETH', 'YASH'}

In [23]:
Heroes.remove('RAJ')

KeyError: 'RAJ'

In [24]:
Heroes.discard('RAJ')

In [26]:
Heroes

{'D boss', 'PUNEETH', 'YASH'}

In [27]:
Heroes.discard('YASH')

In [28]:
Heroes

{'D boss', 'PUNEETH'}

In [30]:
name

{23, 24, 35, 36, 'a', 'cam', 'e', 'g', 'raj', 'sam', 'taj'}

In [31]:
name.pop()

'sam'

In [32]:
name.clear()

In [33]:
name

set()

The clear() method empties the set:

The del keyword will delete the set completely:

In [34]:
name

SyntaxError: invalid syntax (Temp/ipykernel_9508/1549649220.py, line 1)

In [44]:
fruits={'Mango','Apple','orange'}

In [37]:
fruits.clear()

In [38]:
fruits

set()

In [40]:
fruits

{'Apple', 'Mango', 'orange'}

In [41]:
del fruits

In [42]:
fruits

NameError: name 'fruits' is not defined

# Join Sets

Join Two Sets

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

The intersection_update() method will keep only the items that are present in both sets.

## Keep ONLY the Duplicates

The intersection_update() method will keep only the items that are present in both sets.

In [45]:
fruits

{'Apple', 'Mango', 'orange'}

In [46]:
compny={'google','Apple'}

In [47]:
fruits.intersection_update(compny)

In [48]:
fruits

{'Apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

## Keep All, But NOT the Duplicates

The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [51]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'microsoft', 'google'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [52]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'microsoft', 'google'}